@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 71% 88%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 197 77% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 120 73% 75%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 197 77% 52%;
    --chart-1: 197 77% 52%;
    --chart-2: 120 73% 75%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 12 76% 61%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222.2 84% 4.9%;
    --sidebar-primary: 197 77% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 197 77% 52%;
  }

  .dark {
    --background: 202 45% 10%;
    --foreground: 210 40% 98%;
    --card: 202 40% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 202 45% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 77% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 202 30% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 202 30% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 120 50% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 202 30% 20%;
    --input: 202 30% 20%;
    --ring: 197 77% 52%;
    --chart-1: 197 77% 52%;
    --chart-2: 120 50% 60%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 12 76% 61%;
    --sidebar-background: 202 45% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 197 77% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 202 30% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 202 30% 20%;
    --sidebar-ring: 197 77% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
